<div>
  <mat-card>
    <form (submit)="onSubmit(form)" #form="ngForm">
      <table>
        <tr>
          <td>
            Korisnicko ime:
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                name="username"
                ngModel
                required
                #username="ngModel"
              />
              <mat-error *ngIf="username.invalid"
                >Morate uneti korisnicko ime!</mat-error
              >
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            Stara lozinka:
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="password"
                name="psw"
                ngModel
                required
                #psw="ngModel"
              />
              <mat-error *ngIf="psw.invalid">Morate uneti lozinku!</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            Nova lozinka:
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="password"
                name="newPsw"
                pattern="^(?=.{8,12}$)(?!.*(\S)\1{2})(?=.*[A-Z])(?=.*[a-z]{3})(?=.*\d)(?=.*[^a-zA-Z0-9])([a-zA-Z]\S*)$"
                ngModel
                required
                #newPsw="ngModel"
              />
              <mat-error *ngIf="newPsw.invalid"
                >Niste uneli validnu novu lozinku!</mat-error
              >
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            Ponovite novu lozinku:
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="password"
                name="newPswRepeated"
                ngModel
                required
                #newPswRepeated="ngModel"
                (click)="resetError()"
              />
              <mat-error *ngIf="newPswRepeated.invalid"
                >Morate uneti lozinku!</mat-error
              >
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="mat-small" style="color:red">
            {{ errorMessage }} <br />
            {{ message }}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button mat-raised-button color="primary" type="submit">
              Promeni lozinku
            </button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card>
</div>
