<div>
  <mat-card>
    <form (submit)="onSubmit(form)" #form="ngForm">
      <table>
        <tr>
          <td>
            Korisnicko ime:
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                name="username"
                ngModel
                required
                #username="ngModel"
              />
              <mat-error *ngIf="username.invalid"
                >Ovo polje je obavezno!</mat-error
              >
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            JMBG:
          </td>
          <td>
            <mat-form-field>
              <input
                matInput
                type="text"
                name="jmbg"
                pattern="^(0[1-9]|[1-2][0-9]|31(?!(?:0[2469]|11))|30(?!02))(0[1-9]|1[0-2])([09][0-9]{2})([0-8][0-9]|9[0-6])([0-9]{3})(\d)$"
                ngModel
                required
                #jmbg="ngModel"
              />
              <mat-error *ngIf="jmbg.invalid">JMBG nije validan!</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="mat-small" style="color:red">
            {{ message }}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button mat-raised-button color="primary" type="submit">
              Dalje
            </button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card>
</div>
